@model IEnumerable<MvcExample.Models.ViewModel>

@{
    ViewData["Title"] = "View";
}

<h1>Data</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @if (item.Permissions.CanEdit)  @Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
                @Html.ActionLink("Details", "Details", new { id = item.Name }) |
                @if (item.Permissions.CanDelete) @Html.ActionLink("Delete", "Delete", new { id = item.Name })
            </td>
        </tr>
}
    </tbody>
</table>
